<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Contatos de emergência</title>
</head>
<body>
    <div id="header">
        <a href="/">Home</a>
        <a href="/noticias">Notícias</a>
        <a href="/contatos">Contatos</a>
        <a href="/abrigos">Abrigos</a>
        <a href="/update">Atualizar dados</a>
        <% if (!admin) { %>
            <a href="/admin">Login administrador</a>
        <% } else { %>
            <a href="/admin">Menu admin</a>
            <a href="/logout">Logout</a>
        <% } %>
    </div>
    <h1>Contatos de emergência</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <% if (admin) { %>
                    <th scope="col">#</th>
                <% } %>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th scope="col">Endereço</th>
                <th scope="col">Bairro</th>
                <th scope="col">Complemento</th>
                <% if (admin) { %>
                    <th scope="col">Ações</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% contatos.forEach(contato => { %>
                <tr>
                    <% if (admin) { %>
                        <th scope="row"><%= contato.idcontato %></th>
                    <% } %>
                    <td><%= contato.nome %></td>
                    <td><%= contato.telefone %></td>
                    <td><%= contato.endereco %></td>
                    <td><%= contato.bairro %></td>
                    <td><%= contato.complemento %></td>
                    <% if (admin) { %>
                        <td><a href="/updateContato?id=<%= contato.idcontato %>">Editar</a> <a href="/deleteContato?id=<%= contato.idcontato %>">Excluir</a></td>
                    <% } %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>